@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

.header{
  display: flex;
  justify-content: space-between;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input{
  margin: 15px
}

button{
  padding: 5px 10px
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 10px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  margin: 10px;
  color: rgb(82, 82, 82);
}
