/* Add CSS Styling */
.odd {
  font-family: Verdana, "DejaVu Sans", sans-serif;
  background-color: rgb(255, 139, 139);
}

#second {
  color: rgb(0, 15, 153);
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: rgb(104, 255, 182);
  font-size: 24px;
  font-weight: bold;
}
