body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  margin: 16px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: white;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 35px;
  font-weight: 900; 
}

.content {
  display: flex;
  flex: 1;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  margin: 20px;
  padding: 18px
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 24px;
}